body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 1rem;
}

nav {
    background-color: black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.blocks {
    display: flex;
    min-height: 400px;
}

.block1 {
    background-color: gray;
    padding: 1rem;
    flex: 3;
}

.block2 {
    flex: 1;
    background-color: lightgrey;
    padding: 1rem;
}

footer
{
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 2rem;
}